
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
body{
    color:white;
}
#tudo{
    background-color: white;
    width: 1000px;
    height: 520px;
    display: flex;
    margin-top:7%;
    margin-left:17%;
}
#esq{
    background-color: rgba(255, 115, 8, 0.85);
    width:33%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#meio{
    background-color: rgb(14, 113, 130);
    width: 33%;
}
#dir{
    background-color: rgb(19, 54, 67);
    width: 33%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.titulo{
    font-weight: bold;
    font-size: x-large;
    padding-top: 5%;
    padding-left: 16%;
    font-family: "Big Shoulders Display", sans-serif;
    font-size: xx-large;
}
.texto{
    font-size: medium;
    font-weight: lighter;
    padding-left: 16%;
    padding-right: 20%;
    padding-top: 5%;
    font-family: "Lexend Deca", sans-serif;
    font-size: medium;
    font-weight: lighter;
    opacity: 0.9;
}
button{
    background-color: white;
    border: none;
    border-radius: 20px;
    width: 40%;
    height: 8%;
    margin-left: 16%;
    margin-top: 20%;
    font-weight: bold;
    font-size: 15px;
}
#botao1{
    color:rgba(255, 115, 8, 0.85);
}
#botao2{
    color: rgb(14, 113, 130);
}
#botao3{
    color: rgb(14, 113, 130);
}
img{
    padding-top: 13%;
    padding-left: 16%;
}
@media screen and (max-width: 1050px) {
    #tudo{
        display:block;
    }
    button{
        margin-bottom: 10%;
        width: 40%;
        height: 25%;
    }
    #esq{
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    }
    #dir{
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0px;
    }
}